@using Cruceros.API.Gateway.Dto
@model HabitacionesViewModel
@{
    ViewData["Title"] = "Home Page";

    <head>
        <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    </head>
}

<div class="w-100 banner">
    <h5><span class="option-span">Naveo: </span>Hacemos de tu viaje soñado una realidad</h5>
    <h6>Reservá tu habitación acá</h6>
</div>

<div class="container">
    <div class="row" style="width: 100%; height: auto;">
        <div class="col search-menu">
            <div>
                <label for="from-date">desde: </label>
                <input class="date-picker" type="date" id="from-date" name="from-date" value="@DateTime.Now.ToString("yyyy-MM-dd")">
            </div>
            <div>
                <label for="to-date">hasta: </label>
                <input class="date-picker" type="date" id="to-date" name="to-date" value="@DateTime.Now.AddDays(7).ToString("yyyy-MM-dd")">
            </div>
            <div>
                <button class="btn btn-primary btn-naveo search-btn">BUSCAR</button>
            </div>
        </div>
    </div>

    <div class="row room-selector" style="width: 100%; height: auto; justify-content: space-around;">
        <div class="col-2 price">$700</div>
        @foreach (HabitacionesHabilitadasDto habitacion in Model.A)
        {
            <div class="col-2 room room-a @(habitacion.Reservada ? "reserved" : "")">@(habitacion.Reservada ? "NO DISPONIBLE" : habitacion.CabinCod)</div>
        }
    </div>

    <div class="row room-selector" style="width: 100%; height: auto; justify-content: space-around;">
        <div class="col-2 price">$450</div>
        @foreach (HabitacionesHabilitadasDto habitacion in Model.B)
        {
            <div class="col-2 room room-b @(habitacion.Reservada ? "reserved" : "")">@(habitacion.Reservada ? "NO DISPONIBLE" : habitacion.CabinCod)</div>
        }
    </div>

    <div class="row room-selector" style="width: 100%; height: auto; justify-content: space-around;">
        <div class="col-2 price">$200</div>
        @foreach (HabitacionesHabilitadasDto habitacion in Model.C)
        {
            <div class="col-2 room room-c @(habitacion.Reservada ? "reserved" : "")">@(habitacion.Reservada ? "NO DISPONIBLE" : habitacion.CabinCod)</div>
        }
    </div>

    @* TO DO: Hay que dar una funcionalidad con js para que los datos vayan cambiando cuando se seleccionen distintas habitaciones*@
    <div class="row selected-room-menu">
        <p style="font-weight: bold;"><span class="option-span">Habitación seleccionada: </span>H1</p>
        <p style="font-weight: bold;"><span class="option-span">Precio: </span>$700</p>
        <p style="font-weight: bold;">
            <span class="option-span">Descripción: </span>Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Explicabo aliquid, aspernatur atque amet, blanditiis aliquam nihil!
        </p>
        <div class="row-reserve">
            <button class="btn btn-primary btn-naveo">CONTINUAR RESERVA</button>
        </div>
    </div>

</div>
